.footer-social-media-main {
    background-color: #000;
    padding: 46px;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .footer-social-media-main .social-media-flex-main {
    display: flex;
    align-items: center;
    gap: 21px;
  }
  .social-media-flex-main .social-icon {
    height: 54px;
    width: auto;
  }
  .social-media-flex-main .social-icon img {
    height: 100%;
    width: 100%;
  }
  .social-media-flex-main .social-content-main {
    margin: 0;
    font-family: "Times New Roman";
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.01em;
  }
  .footer-content-main {
    padding: 90px 100px;
    background: #f5f2ed;
  }
  .footer-content-main .footer-black-btn {
    background: #000000;
    border-radius: 8px;
    padding: 8px 25px;
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: "Montserrat";
    font-style: normal;
    width: 235px;
  }
  .footer-content-main .store-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    font-family: "Montserrat";
    font-style: normal;
    letter-spacing: 0.01em;
    color: #000000;
  }
  .footer-content-main .footer-content-para {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    letter-spacing: 0.01em;
    color: #131313;
    margin: 24px 0px;
  }
  .footer-content-main .footer-content-logo {
    height: 126px;
    width: auto;
  }
  .footer-content-main .footer-content-flex {
    display: flex;
    gap: 50px;
  }
  .footer-content-main .footer-content-logo img {
    height: 100%;
    width: auto;
  }
  .footer-content-main .footer-black-btn .black-btn-para {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.01em;
    color: #ffffff;
    margin: 0;
  }
  .footer-black-btn .footer-store-icons {
    width: auto;
    height: 32px;
  }
  .footer-black-btn .footer-store-icons img {
    width: 100%;
    height: 100%;
  }
  .footer-content-main .footer-black-btn .black-btn-heading {
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #ffffff;
    margin: 0;
  }
  .footer-content-main .footer-solid-line {
    border-bottom: 1px solid #000000;
  }
  .footer-content-main .footer-content-list {
    list-style: none;
    font-family: "Montserrat";
    font-style: normal;
    padding: 0;
  }
  .footer-content-main .footer-content-list .list-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: #000000;
    text-transform: uppercase;
    margin-bottom: 16px;
  }
  .footer-content-main .footer-content-list .list-text {
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #131313;
  }
  .footer-content-list .list-text img {
    height: 16px;
    width: auto;
    margin-right: 15px;
  }