.search_result_main .sort_by_flex {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: flex-end;
  }
  .search_result_main .sort_by_flex p {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    color: #555555;
  }
  .search_result_main .sort_by_flex .filter_select {
    padding: 5px 20px;
    border: 1px solid #555;
    border-radius: 5px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    text-align: justify;
    letter-spacing: 0.03em;
    color: #413d3d;
  }