.track_your_order_page {
    background: #ffffff;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .track_your_order_page .address_header_seciton {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .track_your_order_page .heading_text {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-bottom: 0;
  }
  .track_your_order_page .address_header_seciton .close_icon_section {
    cursor: pointer;
  }
  
  .track_your_order_page .card_section {
    margin-top: 10px;
    background: #f5f2ed;
    border-radius: 16px;
    padding: 30px 20px 30px 20px;
    margin-bottom: 10px;
  }
  .track_your_order_page .card_section .order_number_text {
    font-family: montserrat-medium;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #333333;
  }
  .order_status_delivered {
    color: #4f9807;
  }
  .order_status_cancelled {
    color: #f92323;
  }
  .track_your_order_page .card_section .order_status_text {
    font-family: montserrat-medium;
    font-weight: 500;
    font-size: 14px;
    line-height: 28px;
  }
  .track_your_order_page .order_img_section {
    width: 120px;
    height: 120px;
    border-radius: 5px;
  }
  .track_your_order_page .order_img_section .order_img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
  }
  .track_your_order_page .card_section .order_heading_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #131313;
    margin-bottom: 15px;
  }
  
  .track_your_order_page .card_section .order_text {
    font-weight: 500;
    font-size: 13px;
    line-height: 120%;
    text-transform: capitalize;
    color: rgba(23, 23, 25, 0.8);
  }
  .continue_shopping_btn_section {
    margin: 20px 0px 15px 0px;
    display: flex;
    justify-content: center;
  }
  .continue_shopping_btn {
    background: #000000;
    border-radius: 5px;
    padding: 9px 50px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.01em;
    font-variant: all-small-caps;
    color: #ffffff;
  }
  .continue_shopping_btn:focus,
  .continue_shopping_btn:hover,
  .continue_shopping_btn:active {
    background: #000000;
    border-radius: 5px;
    color: #fff;
    padding: 9px 50px;
  }
  /* Mobile devices Starts*/
  @media (min-width: 320px) and (max-width: 600px) {
    .order_image_section {
      display: block !important;
      justify-content: start;
      margin-bottom: 15px;
    }
  }
  /* Stepper Start  */
  .stepper_wrapper {
    font-family: montserrat-regular;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-size: 12px;
    margin-left: -65px;
  }
  .stepper_item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    font-size: 12px;
  }
  
  .stepper_item::before {
    position: absolute;
    content: "";
    border-bottom: 4px solid #ccbfdd;
    width: 100%;
    top: 6px;
    left: -50%;
    z-index: 2;
  }
  
  .stepper_item::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #ccbfdd;
    width: 100%;
    top: 6px;
    left: 50%;
    z-index: 2;
  }
  
  .stepper_item .step_counter {
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #ccbfdd;
    margin-bottom: 6px;
  }
  .stepper_item.completed .step_name {
    color: #26a541;
  }
  .stepper_item .step_name {
    position: absolute;
    bottom: 45px;
    color: #ccbfdd;
    line-height: 15px;
    font-weight: 600;
  }
  .step_date {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
  }
  .stepper_item.active .step_date {
    font-weight: bold;
    color: #000000;
  }
  .stepper_item.active {
    font-weight: bold;
  }
  
  .stepper_item.completed .step_counter {
    background-color: #26a541;
  }
  .stepper_item.cancelled .step_counter {
    background-color: #f92323;
  }
  .stepper_item.completed::after {
    position: absolute;
    content: "";
    border-bottom: 4px solid #26a541;
    width: 100%;
    top: 6px;
    left: 50%;
    z-index: 3;
  }
  
  .stepper_item:first-child::before {
    content: none;
  }
  .stepper_item:last-child::after {
    content: none;
  }
  
  /* Small screens, laptops Starts */
  @media (min-width: 768px) and (max-width: 1024px) {
    .stepper_wrapper {
      margin-left: 0px;
    }
    .stepper_item .step_name {
      position: absolute;
      bottom: 60px;
      color: #ccbfdd;
      line-height: 15px;
      font-weight: 600;
      font-size: 10px;
    }
  }
  
  /* iPads, Tablets Starts */
  @media (min-width: 481px) and (max-width: 768px) {
    .stepper_wrapper {
      margin-left: 0px;
    }
  }
  
  /* Mobile devices Starts*/
  @media (min-width: 320px) and (max-width: 600px) {
    .stepper_wrapper {
      margin-left: 0px;
    }
    .stepper_item .step_name {
      position: absolute;
      bottom: 60px;
      color: #ccbfdd;
      line-height: 15px;
      font-weight: 600;
      font-size: 10px;
    }
    .step_date {
      font-weight: 600;
      font-size: 10px;
      line-height: 15px;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
    }
  }
  /* Stepper End  */
  